---
layout: base.njk
title: Specimen Not Found
permalink: /404.html
---
<article class="prose">
  <h1>Specimen Not Found</h1>
  <p>
    The page you have requested could not be located in the canonical corpus. The Curatorial Committee regrets the inconvenience.
  </p>
  <p>
    If, however, you believe a specimen ought to exist at this address, you are warmly invited to submit it for accession review.
  </p>
  <ul class="actions">
    <li><a href="{{ '/' | url }}">Return to the Collection</a></li>
    <li><a href="{{ '/contributing/' | url }}">Submit a Specimen</a></li>
  </ul>
</article>
