---
layout: base.njk
title: Mission
permalink: /mission/index.html
---
<section class="mission mission--standalone" aria-labelledby="mission-heading">
  <h1 id="mission-heading">Mission</h1>
  <p class="mission__lede">
    PRBEC exists to curate, preserve, and extend the canonical corpus of SVG depictions of pelicans riding bicycles, in service of:
  </p>
  <ol class="mission__list">
    <li>The aesthetic enrichment of the open-source commons.</li>
    <li>The continuing dignity of pelicans.</li>
    <li>The continuing dignity of bicycles.</li>
    <li>Joy.</li>
  </ol>
</section>
